# Entornos virtuales
venv/
env/
ENV/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Base de datos local de Django
db.sqlite3

# Archivos de entorno y variables sensibles
.env

# Archivos del sistema operativo
.DS_Store
Thumbs.db