{% extends "base.html" %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Proyecto Final</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda minus quidem pariatur aut numquam.
            Praesentium molestias nostrum repellendus! Provident esse doloribus, maxime molestiae voluptatum ratione
            excepturi cupiditate vero odit possimus voluptatem sit architecto aperiam nesciunt ut eius ipsa ab
            blanditiis
            illo labore? Sint, eum provident? Similique cupiditate rem amet totam ipsa velit distinctio omnis fuga animi
            adipisci ea magni corporis quae veniam tenetur officiis aspernatur voluptas incidunt harum qui perspiciatis,
            dolores minima? Voluptate iusto cumque natus, laborum doloremque, dolorem optio voluptatem sed pariatur
            quaerat
            aperiam dolorum vero nesciunt aut molestias ut! Adipisci, vel molestias atque porro voluptate deleniti est
            alias!</p>

            <div class="text-center">
                <a class="btn btn-dark" href="/signin/">Iniciar Sesion</a>
                <a class="btn btn-secondary" href="/signup/">Registrarse</a>
            </div>

    </section>
</main>

{% endblock %}