{% extends "base.html" %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Panel de Tareas</h1>
        <p>Bienvenido a Panel de Tareas — una aplicación simple para gestionar tus tareas diarias. Con esta herramienta
            puedes crear tareas, marcarlas como importantes, programarlas para fechas futuras y registrar cuándo se
            completan. Usa el panel de Tareas para ver las tareas activas, la opción de Programar para planificar trabajos
            posteriores y la sección de Estadísticas para comparar tareas completadas frente a pendientes.
            Regístrate o inicia sesión para guardar y sincronizar tus tareas.</p>

            {% if user.is_authenticated %}

            {% else %}
                <div class="text-center">
                    <a class="btn btn-dark" href="/signin/">Iniciar sesión</a>
                    <a class="btn btn-secondary" href="/signup/">Registrarse</a>
                </div>
            {% endif %}

    </section>
</main>

{% endblock %}