{% extends "base.html" %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div>
                {% if request.path == '/tasks/' or request.resolver_match.rul_name == 'tasks' or request.path == '/tasks_recent/' or request.resolver_match.rul_name == 'tasks_recent' or request.path == '/tasks_important/' or request.resolver_match.rul_name == 'tasks_important' or request.path == '/tasks_last/' or request.resolver_match.rul_name == 'tasks_last' %}
                </p>
                <h1 class="text-center display-3 py-5">TAREAS PENDIENTES</h1>
                {% elif request.path == '/tasks_completed/' or request.resolver_match.rul_name == 'tasks_completed' or request.path == '/tasks_recent_completed/' or request.resolver_match.rul_name == 'tasks_recent_completed' or request.path == '/tasks_important_completed/' or request.resolver_match.rul_name == 'tasks_important_completed' or request.path == '/tasks_last_completed/' or request.resolver_match.rul_name == 'tasks_last_completed' %}
                <h1 class="text-center display-3 py-5">TAREAS COMPLETADAS</h1>
                {% endif %}

            </div>
            <div class="btn-group" role="group" aria-label="Basic example">
                <span class="me-2 align-self-center">Orden:</span>
                <div class="btn-group" role="group">
                    {% if request.path == '/tasks/' or request.resolver_match.rul_name == 'tasks' or request.path == '/tasks_recent/' or request.resolver_match.rul_name == 'tasks_recent' or request.path == '/tasks_important/' or request.resolver_match.rul_name == 'tasks_important' or request.path == '/tasks_last/' or request.resolver_match.rul_name == 'tasks_last' %}
                    <a href="/tasks_recent/"
                        class="btn {% if request.path == '/tasks_recent/' or request.resolver_match.url_name == 'tasks_recent' %}btn-primary{% else %}btn-outline-primary{% endif %}">Más
                        reciente</a>
                    <a href="/tasks_last/"
                        class="btn {% if request.path == '/tasks_last/' or request.resolver_match.url_name == 'tasks_last' %}btn-primary{% else %}btn-outline-primary{% endif %}">Más
                        antiguo</a>
                    <a href="/tasks_important/"
                        class="btn {% if request.path == '/tasks_important/' or request.resolver_match.url_name == 'tasks_important' %}btn-primary{% else %}btn-outline-primary{% endif %}">Importantes</a>
                    {% elif request.path == '/tasks_completed/' or request.resolver_match.rul_name == 'tasks_completed' or request.path == '/tasks_recent_completed/' or request.resolver_match.rul_name == 'tasks_recent_completed' or request.path == '/tasks_important_completed/' or request.resolver_match.rul_name == 'tasks_important_completed' or request.path == '/tasks_last_completed/' or request.resolver_match.rul_name == 'tasks_last_completed' %}
                    <a href="/tasks_recent_completed/"
                        class="btn {% if request.path == '/tasks_recent/' or request.resolver_match.url_name == 'tasks_recent' %}btn-primary{% else %}btn-outline-primary{% endif %}">Más
                        reciente</a>
                    <a href="/tasks_last_completed/"
                        class="btn {% if request.path == '/tasks_last/' or request.resolver_match.url_name == 'tasks_last' %}btn-primary{% else %}btn-outline-primary{% endif %}">Más
                        antiguo</a>
                    <a href="/tasks_important_completed/"
                        class="btn {% if request.path == '/tasks_important/' or request.resolver_match.url_name == 'tasks_important' %}btn-primary{% else %}btn-outline-primary{% endif %}">Importantes</a>
                    {% endif %}
                </div>

                <!--
                ME QUEDE HACIENDO QUE SE ORDENEN CON LOS FILTROS PERO AUN NO HAGO QUE SE QUEDEN EN COMPLETADOS O NO,
                TAL VEZ HAGA UNA VIEW PARA CADA MODALIDAD O QUE LOS FILTROS SE HAGAN EN TODOS LOS CAMPOS, PERO YA VERE Y
                TAMBIEN ME FALTA QUE CAMBIE TAMBIEN EL TITULO, TENGO QUE VER COMO HACER OBTENER LA INFO DE LAS URLS DEL
                FINAL PARA HACER CONDICIONALES CON ESO.
                -->

            </div>

            <ul class="list-group mt-3">
                {% for task in tasks %}
                <a href="{% url 'task_detail' task.id %}" class="list-group-item">
                    <header class="d-flex justify-content-between align-items-center">
                        {% if task.important %}
                        <h1 class="fw-bold text-success">{{ task.title }} (Importante)</h1>
                        {% else %}
                        <h1 class="fw-bold">{{ task.title }}</h1>
                        {% endif %}
                        <p>{{ task.user.username }}</p>
                    </header>
                    <p>{{ task.description }}</p>

                    <p>Hecha el: {{ task.created_at|date:'M j Y:i' }}</p>
                    {% if task.scheduled_date %}
                    <p>Programada para: {{ task.scheduled_date|date:'M j Y' }}</p>
                    {% endif %}

                    {% if task.datecompleted %}
                    <p>Completa el: {{ task.datecompleted|date:'M j Y:i' }}</p>
                    {% else %}
                    <p>Sin completar</p>
                    {% endif %}
                </a>
                {% empty %}
                <li>
                    <h1>No hay tareas disponibles.</h1>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>

{% endblock %}